.question{
    width: 50%;
    padding: 30px;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.question-name{
    color: slateblue;
    font-weight: bold;
    font-size: 17px;
}
.option{
    border: 2px solid slateblue;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
}
.question-option{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.option:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.response{
    font-weight: bold;
    color: brown;
}


@media screen and (max-width: 767px) {
    .question{
        width: 95%;
        margin: 30px auto;
    }
    .question-option{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}